<h1>Nearest Stations</h1>

<ul>
  <% @stations.each do |station| %>
    <li><%= station.name %></li>
    <li><%= station.address %></li>
    <li><%= station.fuel %></li>
    <li><%= station.access_time %></li>
  <% end %>
</ul>